<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/toggle.css">


		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

		<title>Smart Street Light</title>
	
	</head>
	
	<body onload="callfunc()">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Smart Street Light</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
	</nav>
	
	<div class=" container-fluid">
	<div class="row">
	<div class="col-lg-12 col-sm-6">
	<div class="card">
	<div class="card-body">
	<h3 class="card-title">Light id: {{ liobj.id }}</h3>
  <h3 class="modeclass1" id="{{liobj.status}}">State: {{liobj.status}}</h3>
  <span>High</span>
	<span class="switch">
	<input type="checkbox" id="myCheck1" onclick="myFunction1()" >
	<span class="slider round"></span>
	</span>
  <span>Low</span>

	<h3 class="modeclass" id="{{liobj.mode}}">Mode: {{liobj.mode}}</h3>

	<label class="switch">
	<input type="checkbox" id="myCheck" onclick="myFunction()" >
	<span class="slider round"></span>
	</label>
	
	<h3>Address: {{areaadd}}</h3>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	<script>
	
function callfunc() {
var mode = document.getElementsByClassName("modeclass")[0].id
var status = document.getElementsByClassName("modeclass1")[0].id
var checkBox = document.getElementById("myCheck");
var checkBox1= document.getElementById("myCheck1");
if (mode=='M') {
checkBox.checked =true;
document.getElementById("myCheck1").disabled  = false;
if (status=='H') {
checkBox1.checked=true;
}
else{
checkBox1.checked=false;
}
}
else{
checkBox.checked =false;
document.getElementById("myCheck1").disabled = true;
}

}

 function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var checkvalue;
  if (checkBox.checked == true){
  checkvalue="manual";
  } 
  else {
  checkvalue="auto";
   }
   
  if (checkvalue=="auto") {
	document.getElementById("myCheck1").disabled = true;
	}
   $.ajax({
        type:'GET',
        url:'/light/automanual/',
        data:{'state':checkvalue},
        datatype:'json',
        success:function(data){if (data.s=="success"){alert(checkvalue); location.reload(true); }else {alert("failed"); location.reload(true);}},
        })
		
	
} 


function myFunction1() {
  var checkBox = document.getElementById("myCheck1");
  var checkvalue;
  if (checkBox.checked == true){
  checkvalue="H";
  } 
  else {
  checkvalue="L";
   }
   $.ajax({
        type:'GET',
        url:'/light/LowHigh/',
        data:{'lightstate':checkvalue},
        datatype:'json',
        success:function(data){if (data.s=="success"){alert(checkvalue); location.reload(true);}else {alert("failed"); location.reload(true);}},
        })
} 
</script>
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    

	</body>
</html>